.App {
  text-align: center;
  list-style-type: none;
}

body{
  background-color: rgb(70, 70, 70);
  color: rgb(216, 216, 216);
}

.memesBoard{
  margin: auto; 
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  width: 550px; /*to do zmiany - teraz cokolwiek dla testu*/
  height: 1000px; /*to do zmiany - teraz cokolwiek dla testu*/
}